<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<context:component-scan base-package="pjatk.restaurant.app" />

	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:annotation-driven />

	<security:http auto-config="true">
		<security:intercept-url pattern="/resources/**" access="permitAll()" />
		
		<security:intercept-url pattern="/orders**" access="hasAuthority('admin')" />
		<security:intercept-url pattern="/order**" access="hasAnyAuthority('client', 'admin')" />
		<security:intercept-url pattern="/**" access="hasAuthority('admin')" />
		
		<security:logout logout-url="/logout" logout-success-url="/" />
		
		<security:form-login 
			authentication-success-handler-ref="defaultAuthenticationSuccessHandler" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service data-source-ref="restaurantDS" 
				authorities-by-username-query="select user_id, user_position from USERS where user_id=?"
				users-by-username-query="select user_id, user_password, is_enabled from USERS where user_id=?"/>
		</security:authentication-provider>	
	</security:authentication-manager>

	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:annotation-driven />
	
	<jee:jndi-lookup id="restaurantDS" jndi-name="java:/LocalMySqlDS" />

	<bean id="defaultAuthenticationSuccessHandler"
			class="pjatk.restaurant.app.security.DefaultAuthenticationSuccessHandler" />
		
	<bean id="hibernateSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="restaurantDS" />

		<property name="packagesToScan">
			<value>pjatk.restaurant.app</value>
		</property>

		<property name="hibernateProperties">
			<value>
				org.hibernate.dialect.MySQLDialect
				hibernate.show_sql=true
				hibernate.format_sql=true
			</value>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>

	<tx:annotation-driven />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/screens/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>